@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  min-height: 100vh;
  background: #f9f9f9;
  background-image: linear-gradient(
    to top right,
    rgba(255, 0, 0, 0),
    rgba(106, 130, 239, 0.607)
  );
}


nav {
  background-color: #ffffff5a;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.073);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
}


nav a{
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}


nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav h1 {
  font-weight: 700;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #6a82ef;
}

#about{
  gap: 1.5rem;
}
#about p{
  text-align: justify;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  gap: 5rem;
  flex-wrap: wrap;
}

#hero_left {
  flex: 1;
}

#hero_left h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

#hero_left p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #444;
}

#hero_left .btn,
#hero_left .btn-outline {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

#hero_left .btn {
  background: #6a82ef;
  color: #fff;
}

#hero_left .btn:hover {
  background: #4a60c7;
}

#hero_left .btn-outline {
  border: 2px solid #6a82ef;
  color: #6a82ef;
}

#hero_left .btn-outline:hover {
  background: #6a82ef;
  color: #fff;
}

#hero_right {
  flex: 1;
  display: flex;
  justify-content: center;
}

#photo {
  width: 400px;
  height: 600px;
  object-fit: cover;
  position: relative;
  object-position: top;
  border-radius: 30px;
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.25);
}


section {
  padding: 2rem 5rem;
}

section h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

section p{
  font-size: 1.1rem;
}

#about {
  text-align: center;
  max-width: 1276px;
  margin: auto;
  font-size: 1.1rem;
  color: #555;
}


.card {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;

}

.drop-down img {
  width: 20px;
  height: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.drop-down img.rotate {
  transform: rotate(180deg);
}

.card h3 {
  margin-bottom: 0.5rem;
  color: #2c2c2c;
  font-size: 1.5rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
}



.card span {
  font-size: 1.2rem;
  color: #777;
  display: block;
 
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: hidden;
  overflow: hidden;


}
.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exp-txt-cont {
  max-height: 0rem;         
  overflow: hidden;
  position: relative;
  transition: max-height 0.6s ease;


}

.exp-txt-cont::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;  
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  pointer-events: none; 
  transition: opacity 0.3s ease;

}

.exp-txt-cont.open{
  white-space: normal;

}
.exp-txt-cont.expanded::after {
  opacity: 0;   
}
.exp-txt-cont ul{
  max-width: 80rem;
  font-size: 1.1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; 
  margin-bottom: 12px;
  text-wrap: wrap;
}


.company-image{
  width: 100px;
  border-radius: 5px;
  position: relative;
  
}
.drop-down {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.drop-down img{
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.card.expanded {
  height: auto;
  white-space: normal;

}


#projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 1rem 0;
}

#education .grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  margin: 1rem 0;
}
#certifications .grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  margin: 1rem 0;
}

.project .grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 1rem 0;
}
.project-card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem 1.8rem 5rem 1.8rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.project-card p {
  font-size: 1.1rem;
  color: #555;
  flex: 1;                           
}

.project-card a {
  text-decoration: none;
  color: #6a82ef;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

.popupWindow {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  overflow:hidden;
  padding: 40px 0;
}

.project {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 80%;
  height: 100%;
  margin: auto;
  overflow-y: auto;
}

.scroll-area {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.project-content {
  font-size: 1.5rem;
  text-align: left;

}
.project-img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin: 1.5rem auto 1.5rem auto; 
  display: block; 
}
.project-para {
  width: 90%;           
  margin: 1rem auto 0; 
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}
.fig-label {
  text-align: center;
  font-size: 1.rem;
  color: #777;
  margin-top: -10px;
  margin-bottom: 10px;
}
.project-para li {
  margin-bottom: 1rem;
}

#view-button {    
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #6a82ef;
  color: white;
  width: 150px;
  margin-top: 30px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.close-btn {
  position: absolute;
  top: 4%;
  right: 6%;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;              
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.close-btn:hover {
  color: #ff0202;
}
.education {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  width: 80%;
  height: 100%;
  margin: auto;
  overflow-y: auto;


}

.education-content {
  font-size: 1.5rem;
  text-align: left;
  

}
.certificate-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 1rem 1rem 1rem 1rem; 
  display: block; 
}

#certifications .card h3 {
   white-space: normal;
   font-size: 1.3rem;
}

#certifications .card span {
    font-size: 1rem;
    white-space: normal;
  }

#education .card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem 1.8rem 4rem 1.8rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

#certifications .card {
 position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem 1.8rem 4rem 1.8rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}


.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.skills-list li {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1),
    rgba(106, 130, 239, 0.5)
  );
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
}

.skills-list li:hover {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.2),
    rgba(106, 130, 239, 0.7)
  );
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}

form input,
form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

form input::placeholder, form textarea::placeholder , form button{
  font-family: "Baumans", sans-serif;
}

form button {
  padding: 0.8rem;
  border: none;
  border-radius: 30px;
  background: #6a82ef;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: #4a60c7;
}

.socials {
  margin-top: 2rem;
  text-align: center;
}

.socials a {
  margin: 0 1rem;
  text-decoration: none;
  color: #6a82ef;
  font-weight: bold;
}

.socials a:hover {
  color: #4a60c7;
}


footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  margin-top: 3rem;
  font-size: 0.9rem;
}
@media (max-width: 1200px) {
   .card h3 {
   text-wrap: wrap;
   font-size: 1.2rem;
  }
}



@media (max-width: 992px) {
  nav {
    padding: 1rem 2rem;
  }

  header {
    padding: 3rem 2rem;
    flex-direction: column;
    text-align: center;
  }

  #hero_left h1 {
    font-size: 2rem;
  }

  #hero_right img {
    width: 320px;
  }

  section {
    padding: 2rem;
  }

  .card-container {
    flex-direction: column;

  }
  .card h3 {
   white-space: normal;
   font-size: 1.3rem;
}

  .company-image {
    margin-top: 1rem;
    width: 80px;
  }
}

@media (max-width: 1200px) {
  nav{
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: #f2e3fdd2;
    width: 220px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius:0 0 0 20px ;
   
    
    display: none; 
  }

  nav ul.show {
    display: flex;
  
   
  }
  
}



@media (max-width: 600px) {
  nav {
    padding: 1rem;
   
  }

  nav ul {
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.8rem;

  }

  header {
    padding: 2rem 1rem;
    gap: 2rem;
  }

  #hero_left h1 {
    font-size: 1.8rem;
  }

  #photo {
    width: 200px;
  }

  section h2 {
    font-size: 1.8rem;
  }

  .card {
    padding: 1rem;
  }
  .card h3 {
   text-wrap: wrap;
   font-size: 1.1rem;
  }
  .card span {
    font-size: 0.9rem;
    white-space: normal;
  } 
  .card .gpa{
    font-size: 0.9rem;
  }
  .project-card h3{
    font-size: 1.1rem;
  }
  .project-card p{
    font-size: 0.9rem;
  }
  #education .card h3 {
   font-size: 1.1rem;

  }
  #certifications .card h3 {
   font-size: 1.1rem;

  }
  .skills-list {
    gap: 0.5rem;
  }

  .skills-list li {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  form {
    padding: 0 1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}



.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}